		/* EFECTO PARALLAX CHIDO :)*/

.body {
	background-image: url("../img/fondo.jpg");
	background-size: cover;
	background-attachment: fixed;
}

		/* NAVEGADOR QUE SE MUEVE CHIDO */

header label {
	display: none;
}

header label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

header nav {
	background:#5a108d;
	margin-bottom: 5px;
	opacity: 0.5;
}

header nav ul {
	list-style: none;
	overflow: hidden;
}

header nav ul li  {
	float: left;
}

header nav ul li a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
}

header nav ul li a:hover {
	background: #e7caea;
}


.menu-fixed {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	max-width: 1200px;
}

.circulo {
	height: 180px;
	width:180px;
	padding: 5px;
	border: 7px solid purple;
}

.ama {
	color: yellow;
}

.marco {

}

/* EXTRAS */

.te-center {
	text-align: center;
}




/* MEDIA QUERIES*/
@media (min-width: 768px) {
	
	header label {
		display: inline-block;
	}	

	header ul {
		flex-direction: column;
	}
	
	header ul li {
		border-top: 1px solid white;
	}

	#btn-menu [type="checked"]: .menu-fixed {
		margin:0;
	}
   

	.logo {
			width: 10%;
			height: 10%;
		}

	.iframe {
		max-width: 100%;
			}

	#medidas {
		display: none;
	}	

}